/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Staff_Name]
      ,[Staff_ID]
      ,[Staff_Section]
      ,[Staff_Timings]
  FROM [Blood Donation System].[dbo].[Blood_bank_staff_info]